footer {
  background-color: #f9fafc;
  padding: 100px 15px;
  font-family: "Open Sans", sans-serif;
}

footer .social-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

footer .social-container a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .social-container a img {

  height: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all .3s ease-in-out;
}

footer .social-container a:hover img {
  bottom: 3px;
  -webkit-box-shadow: 1px 50px 50px -10px rgba(0,0,0,0.42);
  box-shadow: 1px 50px 50px -10px rgba(0,0,0,0.42);
}

footer h5 {
  font-size: 1rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}
footer h6 {
  font-size: .6rem;
  color: black;
  text-transform: capitalize;
  text-align: center;
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 767px) {
}
