@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap");

@import "reset.css";
@import "top-section.css";
@import "skills.css";
@import "portfolio-section.css";
@import "experience.css";
@import "blog.css";
@import "testimonials.css";
@import "footer.css";
@import "portfolio-page.css";

.container {
  max-width: 1130px;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
header .logo {
  font-size: 1.3rem;
  align-self: center;
  display: flex;

}
header .logo .name {
  background-color: black;
  padding: 10px 15px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

header .header-menu {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-menu a {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  padding: 0 10px;
  transition: all 0.1s ease-in-out;
}
header .header-menu a:hover {
  font-weight: 700;
  color: #ffd60a;
}
header .menu-button {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}
header .menu-button img {
  height: 30px;
}

.mobile-menu {
  display: none;
  background-color: white;
  flex-direction: column;
  padding: 40px 0;
  position: absolute;
  height: 100vh;
  width: 50%;
  z-index: 10;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 78px -15px rgba(0,0,0,0.75);

}

.mobile-menu.active {
  transform: translate3d(0, 0, 0);
}

.mobile-menu a {
  font-family: "Open Sans", sans-serif;
  padding: 15px ;
  text-decoration: none;
  color: black;
}
.mobile-menu a:hover {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  background-color: #ffd60a;
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */

@media only screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  header .header-menu {
    display: none;
  }
  header .menu-button {
    display: flex;
  }

  .mobile-menu {
    display: flex;
  }

}
